// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: #f5142e;
$light-beige: #fbeca3;
$dark-beige: #5c1014;
$dark-pink: #a45454;
$dark-beige: #c4b479;
$brown: #6b5549;
$light-brown: #896c5e;
