// Specific CSS for your home-page
.homepage {
  background-image: asset-url('background.jpg') ;
  background-size: cover;
  height: 100%;
  padding: 20px;
}

.title {
  color: $light-beige;
  align-items: center;
  font-family: 'Tangerine';
  text-align: center;
}

.title h1 {
  font-size: 200px;
  font-family: 'Tangerine';
}

.mainbutton {
  margin: 0 auto;
  width: fit-content;
    a {
      background-color: $brown;
      color: $light-beige;
      font-family: 'Tangerine';
      font-size: 70px;
      border-radius: 7px;
      text-decoration: none;
      padding: 20px 30px;
    }

}


.button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
