// Specific CSS for your home-page
.homepage {
  background-image: asset-url('background.jpg') ;
  background-size: cover;
  height: 100%;
  padding: 20px;
}

.title {
  color: $light-beige;
  align-items: center;
  font-family: 'Tangerine';
  text-align: center;
  font-size: 8vw;
 }

.page {
  min-height: calc(100vh - 50px - 258px);
  justify-content: center;
}
