// Import page-specific CSS files here.
@import "home";
@import "profile";


.index-title {
  border-bottom: solid $dark-red;
}

.index-title h1 {
  color: $dark-red;
  font-family: 'Tangerine';
  text-align: center ;
  font-size: 6vw;
}

.picture {
  height: 200px;
  border-bottom: solid $light-beige;
  overflow: hidden;
}

.picture a {
  color: $light-beige;
  font-family:'Merienda';
  text-align: center;
}

.summary {
  border-top: dashed $light-beige;
  height: 50px;
}

.card-title {
  border-bottom: dashed $light-beige;
}

.no-reservation {
  font-family: 'Tangerine';
  font-size: 100px;
  color: $dark-red;
  text-align: center;
}

.reservation-index {
  font-family: 'Tangerine';
  color: $dark-red;
  text-align: center;
  border-bottom: solid $dark-red;
}

.reservation-index h1 {
  font-family: 'Tangerine';
  color: $dark-red;
  text-align: center;
  font-size: 100px;
}

.reservation-index h2 {
  font-family: 'Tangerine';
  color: $dark-red;
  text-align: center;
  font-size: 50px;
}

.empty {
  -webkit-text-stroke: 1px $light-beige;
  color: $light-brown
}
