
<div class="footer d-flex flex-column">
  <div class="description w-25" style='padding: 15px'>
    <p>Bonjour et bienvenue sur le site qui vous permet de louer un hobbit facilement et pour peu cher.</p>
    <p>Vous pouvez trouver un hobbit selon ses specialités et affinités et partir à l'aventure </p>
  </div>
  <div>
    <a id="homeImage" class="align-items-center" href="#"><%= image_tag 'icons/magician-icon-three.png', height:50 %></a>
  </div>
</div>
