
<div class="footer">
  <div>
    <div class="icons-wrapper">
      <ul id="socials">
        <li><a href="https://github.com/timperoulakis" target="_blank"><i class="fa-solid fa-dragon dragon-icon icon"></i></a></li>
        <li><a href="https://github.com/dagmarakorta" target="_blank"><i class="fa-solid fa-hat-wizard wizard-hat-icon icon"></i></a></li>
        <li><a href="https://github.com/vK-y0" target="_blank"><i class="fa-solid fa-scroll scroll-icon icon"></i></a></li>
        <li><a href="https://github.com/Newprotagonist" target="_blank"><i class="fa-solid fa-ring ring-icon icon"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="powered">
    <p>Powered by Fellowship of the Ring  © All rights reserved </p>
  </div>
</div>
