
<div class="footer">
  <div class="content">
    <p>Powered by Fellowship of the Ring</p>
  </div>
  <div class="second-part">
    <a id="homeImage" class="align-items href="#"><%= image_tag 'icons/magician-icon-three.png', height:50 %></a>
  </div>
</div>
