<div class="banner">
  <div class="container">
    <div class="row">
      <h1>Find The Perfect Hobbit For Your Adventure</h1>
    </div>
    <div class="row see-all m-auto">
      <%= link_to "See all Hobbits", offers_path %>
    </div>
  </div>
</div>
