<div class="homepage">
  <div class="title">
    <h1>Find The Perfect Hobbit For Your Adventure</h1>
  </div>
    <div class="mainbutton">
      <%= link_to "See all Hobbits", offers_path %>
    </div>
</div>
