<div class="homepage">
  <div>
    <div>
      <h1 class="title">Find The Perfect Hobbit For Your Adventure</h1>
    </div>
  </div>

  <div id="homepage-button">
    <div class="button-normal">
      <%= link_to "See all Hobbits", offers_path, class: "button-normal-a button-normal"%>
    </div>
  </div>
</div>
