<% if @reservations.empty? %>
  <p>You don't have any reservations.</p>
<% else %>
  <ul>
  <% @reservations.each do |reservation| %>
    <li class="reservation"><%= render partial: "reservation", locals: { reservation: reservation } %></li>
  <% end %>
  </ul>
Total price: <%= @reservations.sum(:total_price) %>
<% end %>
