.button-normal {
  width: fit-content;
  background-color: $brown;
  color: $light-beige;
  font-family: 'Merienda', cursive;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}

.button-normal-a {
  text-decoration: none;
  color: $light-beige;
  font-size: 4vw;
}

.button-normal:hover {
  opacity: 0.8;
  color: $dark-beige;
}

.button-normal-a:hover {
  opacity: 0.8;
  color: $dark-beige;
}
