.button-normal {
  width: fit-content;
  background-color: $brown;
  font-family: 'Merienda', cursive;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin: 5px;
  margin-bottom: 30px;
}

.button-normal-a {
  text-decoration: none;
  color: $light-beige;
}

.button-normal:hover {
  color: $yellow;
}

.button-normal-a:hover {
  color: $yellow;
}

.accept {
  width: fit-content;
  background-color: $green;
  color: $light-beige;
  font-family: 'Merienda', cursive;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
  &:hover {
    color: $yellow;
  }
}

.decline {
  width: fit-content;
  background-color: $dark-red;
  color: $light-beige;
  font-family: 'Merienda', cursive;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  text-align: center;
  &:hover {
    color: $yellow;
  }
}

.card-buttons div {
  margin-bottom: 35px;
  margin-left: 30px;
}

.card-buttons {
  align-items: center;
  margin-top: 20px;
}

.button-link {
  font-size: 20px;
  margin: 10px;
  color: $brown;
}

.button-link:hover {
  color: $dark-red;
}
