.footer {
  background-image: asset-url('footer/footer.png');
  height: 258px;
  background-repeat: no-repeat;
  background-position: right bottom;
  width:100%;
  background-color: $brown;
  color: $light-beige;
}

.content{
  display: flex;
}

.description {
  text-align: left;
  justify-content: left;
}

.second-part {
  margin-top: 160px;
  margin-left: 10px;
}
