.form {
  margin: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 15px;
  border-radius: 10px;
}

.form-text {
  color: $brown;
  font-family: 'Merienda', cursive;
  font-weight: bold;
}
