.navbar {
  background-color: $brown;
}

.navbar a {
  text-decoration: none;
  color: $light-beige;
}

.navbar a:hover {
  color: $light-beige;
  opacity: 50;
}

.dropdown-menu {
  background-color: $brown;
}

.fa-caret-down {
  color: $light-beige;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.dropend {
  margin-left: 21px;
}

.dropdrop {
  text-align: center;
}

#no-margin {
  margin-bottom: 0px !important;
}
