.navbar {
  background-color: $brown;
}

.navbar a {
  text-decoration: none;
  color: $light-beige;
}

.navbar a:hover {
  color: $light-beige;
  opacity: 50;
}

.dropdown-menu {
  background-color: $brown;
}
